<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="utf-8" />
		<meta name="author" content="Script Tutorials" />
	    
	    <meta name="description" content="Photo Gallery with AngularJS and CSS3 - demo page">
	    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	 
	    <!-- add styles -->
	    <link href="css/style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="style/jquery.mobile-1.4.2.min.css">
		<script src="js/jquery-1.10.2.min.js"></script>
		<script src="js/jquery.mobile-1.4.2.min.js"></script>
		
	 
	    <!-- add javascripts -->
	    <script src="js/jquery2.1.1"></script>
	    <script src="js/angular.js"></script><!--**************-->
	    <script src="js/angular-animate.min.js"></script><!--**************-->
	    <script src="js/angular-touch.min.js"></script><!--**************-->
	    <script src="js/app.js"></script>
	</head>
	<body ng-controller="MainCtrl">

		<div data-role="page" id="pageone">
		  <div data-role="header">
			<h1>Visualizer Screen</h1>
			<div data-role="navbar">
			  <ul>
				<li><a href="area.html" data-icon="home">Choose Area</a></li>
				<li><a href="camera.html" data-icon="camera">Camera</a></li>
				<li><a href="#" data-icon="grid" class="ui-btn-active">View Blinds</a></li>
			  </ul>
			</div>
		  </div>

		  <div data-role="main" class="ui-content">
			<header><h3>Blinds Gallery</h3></header>
		  </div>
		  
		  
		  	    <!-- slider container -->
			<div class="container slider">
		 
				<!-- enumerate all photos -->
				<img ng-repeat="photo in photos" class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()" ng-show="isActive($index)" ng-src="{{photo.src}}" />
		 
				<!-- prev / next controls -->
				<a class="arrow prev" href="#" ng-click="showPrev()"></a>
				<a class="arrow next" href="#" ng-click="showNext()"></a>
		 
				<!-- extra navigation controls -->
				<ul class="nav">
					<li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">
						<img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />
					</li>
				</ul>
		 
			</div>

		  <div data-role="footer">
			<h1>My Footer</h1>
		  </div>
		</div> 

	</body>
</html>